*, *::after, *::before {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

header{
    padding-bottom: 80px;
}

.instructions{
    font-size: .8em;
}
main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > *:hover{
   transform: scale(.9);
   transition: transform 300ms linear;
}

img {
    width: 90px;
    height: 90px;
}

footer{
    margin-top: 50px;
    font-size: .3em;
}

